html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font: inherit;
  line-height: calc(1em + 0.5rem);
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Source Sans 3', Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: clamp(1em, calc(1em + 1vw), 1.5em);
}

@media (min-width: 60em) {
  body {
    background-attachment: fixed;
    background-color: #f2f5f7;
    /* background-image: linear-gradient(to bottom, #c0cfd8, #f2f5f7); */
    background-repeat: no-repeat;
  }
}

a {
  color: #215cca;
}

.c-page {
  background: #fff;
}

@media (min-width: 60em) {
  .c-page {
    border-radius: 0.375em;
    margin: clamp(1em, calc(1em + 1vw), 2em) auto;
    max-width: 36em;
    position: relative;
  }
}

.c-page__section {
  border-block-start: 1px solid rgba(0,0,0,0.1);
  padding: 1.25em clamp(1em, calc(1em + 1vw), 2em);
}

.c-page__header {
  border-block-start-width: 0;
  display: grid;
  grid-row-gap: 1.25em;
}

.c-masthead {
  display: grid;
  grid-template-areas:
    'brands'
    'title'
    'subtitle';
  grid-template-rows: repeat(3, auto);
}

@media (min-width: 60em) {
  .c-masthead {
    grid-column-gap: 1.56em;
    grid-template-areas:
      'brands title'
      'brands subtitle';
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.c-masthead__brands {
  grid-area: brands;
}

.c-masthead__title {
  font-size: 1.25em;
  font-weight: bold;
  grid-area: title;
  margin-block-start: 0.64em;
}

@media (min-width: 60em) {
  .c-masthead__title {
    margin-block-start: 0;
  }
}

.c-masthead__subtitle {
  grid-area: subtitle;
}

.c-brands {
  align-items: center;
  gap: 0.64em;
  display: flex;
}

.c-brands__cloud-four {
  background: #215cca;
  block-size: 2.44em;
  border-radius: 0.375em;
  color: #fff;
  display: block;
  inline-size: 2.44em;
  position: relative;
}

.c-brands__cloud-four > * {
  block-size: auto;
  fill: currentColor;
  inline-size: calc(100% / 3 * 2);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.c-brands__org {
  block-size: auto;
  inline-size: 2.44em;
}

.c-brands__heart {
  fill: #d9118f;
}

.c-filter {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.c-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding-inline-start: 0;
}

.c-tag {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 99em;
  color: inherit;
  display: block;
  padding: 0.26em 0.8em;
  text-decoration: none;
}

.c-tag[aria-current] {
  background: rgba(0, 0, 0, 0.85);
  border-color: transparent;
  color: #fff;
}

.c-item {
  position: relative;
}

.c-item__meta {
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: 0.64em;
}

.c-item__status::before {
  background: #738da0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  block-size: 1.56em;
  border-radius: 50%;
  content: '';
  display: none;
  inline-size: 1.56em;
  position: relative;
  inset-block-start: -1px;
  inset-inline-start: -0.125em;
  vertical-align: middle;
}

@media (min-width: 60em) {
  .c-item__status::before {
    border: 1px solid transparent;
    font-size: 1.25em;
    inset-block-start: 2rem;
    inset-inline-start: 0;
    position: absolute;
    transform: translateX(-25%);
  }
}

.c-item--approved .c-item__status::before {
  background-color: #158466;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpolyline points='4 12 9.08 18 20 6' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
  border-color: #0c3538;
  display: inline-block;
}

.c-item--review .c-item__status::before {
  background-color: #738da0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke='white'%3E%3Ccircle cx='10.5' cy='10.5' r='7.5' fill='none' stroke-width='3'/%3E%3Cline x1='17' y1='17' x2='22' y2='22' fill='none' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E");
  background-size: 55%;
  border-color: #485968;
  display: inline-block;
}

.c-item--wip .c-item__status::before {
  background-color: hsl(40,100%,68%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Crect x='5.71' y='10.71' width='14' height='5.17' transform='translate(-5.68 12.88) rotate(-45)' fill='%23623D17' /%3E%3Cpath d='M9.59,20.07,1.81,22.19l2.12-7.78,12-12a2,2,0,0,1,2.83,0l2.83,2.83a2,2,0,0,1,0,2.83Z' fill='none' stroke='%23623D17' stroke-linejoin='round' stroke-width='2' /%3E%3Crect x='2.22' y='19.78' width='2' height='2' transform='translate(-13.75 8.36) rotate(-45)' fill='%23623D17' /%3E%3Cline x1='19.49' y1='10.17' x2='13.83' y2='4.51' fill='none' stroke='%23623D17' stroke-width='2' /%3E%3C/svg%3E%0A");
  border-color: #F18D40;
  display: inline-block;
}

.u-text-shrink-1 {
  font-size: 0.8em;
}

.u-text-shrink-2 {
  font-size: 0.64em;
}

.u-hidden-visually {
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
