---
title: Example C
status: archived
layout: blank
---

<img src="/assets/images/pleasantest-logo.svg" alt="Pleasantest" />
<img src="/assets/images/cloudfour-logo.svg" alt="Cloud Four" />

<p>Example C</p>
