$grey: #4a4545;
$white: #fff;
$blue: #1045b4;
$orange: #cb4c00;
$orange-light: #f67c4c;
$red: #c44f59;
$violet: #5b3bbc;
$navy: #132846;
$eggplant: #482762;
$green: #65dc90;
$yellow: #ffce1c;
$h2: 25px;
$h3: 22px;
$border-radius: 8px;
$font-size: 18px;
$wrapper-padding: 2em;
$spacing: 1em;
$main-font: "filson-pro";
$secondary-font: "open-sans";

:root {
  --offset: 0.5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  margin-left: -$spacing;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: $grey;
  font-size: $font-size;
  font-family: $secondary-font, sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  // line-height: 1.5;

  a {
    color: $orange;
  }

  button {
    width: 80%;
    height: 2.5em;
    border: none;
    color: $white;
    border-radius: $border-radius;
    font-size: $font-size;
    font-family: $main-font, sans-serif;
    cursor: pointer;
    position: relative;
    transition: top 250ms, left 250ms;
    top: -2px;
    left: -2px;

    &::after {
      content: "";
      position: absolute;
      border: 3px solid darken($orange, 10%);
      border-radius: $border-radius;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      mix-blend-mode: screen;
      transform: translate(-4px, 4px);
      transition: transform 0.2s ease-out;
    }

    &:hover::after {
      transform: translate(-6px, 6px);
    }
    &:active::after,
    &:focus::after {
      transform: translate(0px, 0px);
    }
  }

  h2 {
    // font-size: $h2;
    font-size: clamp(1.5rem, 2.25vw, 2.5rem);
    font-family: $main-font, sans-serif;
  }
  h3 {
    font-size: clamp(1.35rem, 1.75vw, 1.75rem);
  }
}

.body-wrapper {
  padding: $spacing;
  max-width: 65em;
  margin: 0 auto;

  .test {
    // background-color: lighten($orange, 55%);
    padding: 0;
    margin: 0;
    max-width: 100em;
  }

  .code-wrapper {
    border-radius: $border-radius;
    padding: $spacing;
    background-image: linear-gradient($navy, $eggplant);
    color: $white;
    font-family: monospace;
    overflow-x: auto;
    text-align: left;
    position: relative;
    max-width: 100%;

    pre {
      margin: 0;
    }
  }

  .offset {
    position: relative;
    border-radius: $border-radius;
    align-self: center;
  }

  .offset::before {
    border: 3px solid $violet;
    content: "";
    position: absolute;
    left: calc(var(--offset) * -1);
    bottom: calc(var(--offset) * -1);
    right: var(--offset);
    top: var(--offset);
    z-index: 1;
    border-radius: inherit;
    mix-blend-mode: multiply;
    pointer-events: none;
  }

  .heading-wrapper {
    text-align: center;
    margin: 0 auto;

    @media only screen and (min-width: 50em) {
      max-width: 100%;
      display: grid;
      grid-gap: 3em;
      grid-template-columns: 20em minmax(0, 1fr);
      grid-template-areas:
        "logo logo"
        "tagline code"
        "ctas code";

      .logo {
        grid-area: logo;
      }

      .tagline {
        grid-area: tagline;
        align-self: end;
        text-align: left;
      }

      .ctas {
        grid-area: ctas;
      }

      .offset {
        grid-area: code;
      }
    }

    @media only screen and (min-width: 60em) {
      grid-template-columns: 50% minmax(0, 1fr);
    }

    .logo {
      width: 15em;
      display: inline;
    }

    h2 {
      padding: 2em 0;
    }

    .tagline {
      color: $blue;
    }

    .ctas {
      padding-bottom: 2em;

      .get-started {
        background-color: $orange;
        // transition: 0.25s;

        // &::after {
        //   border: 3px solid darken($orange, 10%);
        // }
      }

      .gh {
        background-color: $violet;
        margin-top: $spacing;
        transition: 0.25s;
        &::after {
          border: 3px solid darken($violet, 10%);
        }

        svg {
          fill: $white;
          vertical-align: middle;
          width: 1.5em;
          margin-top: -0.25em;
        }
      }

      @media only screen and (min-width: 50em) {
        display: flex;

        button {
          width: 40%;
        }

        .gh {
          margin-top: 0;
          margin-left: $spacing;
        }
      }
    }
  }

  .wrapper {
    padding-bottom: 6em;
  }

  .highlight-wrapper {
    & > * + * {
      margin-top: 1em;
    }
    .section {
      & > * + * {
        margin-top: 1em;
      }
      // display: grid;
      // grid-template-areas:
      //   "heading"
      //   "image"
      //   "content";

      // h2 {
      //   grid-area: heading;
      // }

      // p {
      //   grid-area: content;
      // }

      // img {
      //   grid-area: image;
      // }

      @media only screen and (min-width: 50em) {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .burp {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 30em;
          h2 {
            padding-bottom: 0.5em;
          }
        }

        &:nth-of-type(even) {
          flex-direction: row-reverse;
        }
      }
    }

    .highlight1 {
      h2 {
        color: $red;
      }
    }

    .highlight2 {
      padding-top: $wrapper-padding;
      h2 {
        color: $violet;
      }
    }

    .highlight3 {
      padding-top: $wrapper-padding;
      h2 {
        color: $orange;
      }
    }
  }

  .instructions-wrapper {
    max-width: 50em;
    margin: 0 auto;
    // border: 1px solid blue;

    & > * + * {
      margin-top: 4em;
    }

    p {
      padding: 0.75em 0;
    }

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5em;
      height: 3.5em;
      border-radius: 100em;
      color: $white;
      margin: 0 auto;

      &::before {
        content: "";
        position: absolute;
        left: calc(var(--offset) * -0.75);
        bottom: calc(var(--offset) * -0.75);
        right: 0.15em;
        top: 0.15em;
        z-index: 1;
        border-radius: inherit;
        // mix-blend-mode: luminosity;
      }
    }

    .step {
      & > * + * {
        margin-top: 0.5em;
      }
      .circle {
        margin-bottom: $spacing;
        position: relative;
      }
    }
    .step1 {
      .circle {
        background-color: $red;
        &::before {
          border: 3px solid darken($red, 20%);
        }
      }
    }
    .step2 {
      .circle {
        background-color: $orange;
        &::before {
          border: 3px solid darken($orange, 10%);
        }
      }
    }
    .step3 {
      .circle {
        background-color: $yellow;
        color: $grey;
        &::before {
          border: 3px solid darken($yellow, 20%);
        }
      }
    }
    .step4 {
      .circle {
        background-color: $blue;
        &::before {
          border: 3px solid darken($blue, 15%);
        }
      }
    }
    .step5 {
      .circle {
        background-color: $violet;
        &::before {
          border: 3px solid darken($violet, 15%);
        }
      }
    }
    .step6 {
      .circle {
        background-color: $eggplant;
        &::before {
          border: 3px solid darken($eggplant, 10%);
        }
      }
    }
    @media only screen and (min-width: 55em) {
      padding-top: 10em;
      .step {
        padding-top: 5em;
        position: relative;

        .circle {
          position: absolute;
          grid-area: number;
          left: 1%;
        }
      }

      .step-test {
        padding-left: 2em;
        max-width: 40em;
        margin: 0 auto;

        h3 {
          grid-area: title;
          justify-content: flex-end;
          vertical-align: bottom;
          align-items: flex-end;
        }
        p {
          grid-area: content;
        }

        .offset {
          grid-area: code;
        }
      }

      .step6 {
        padding-bottom: 6em;
      }
    }
  }
}

.footer {
  color: $white;
  background-image: linear-gradient($violet, $eggplant);
  padding: $spacing;

  .footer__inner {
    max-width: 65em;
    margin: 0 auto;
    @media only screen and (min-width: 50em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .section {
    padding: $spacing 0;
  }

  a {
    color: $white;
  }

  svg {
    fill: $white;
    display: inline;
    vertical-align: middle;
    width: 1.5em;
  }
}

// code snippet colors from prism

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #dedede;
}
.token.punctuation {
  opacity: 0.7;
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: $orange-light;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: $green;
}
.language-js .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: $yellow;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #65dc90;
}
.token.important,
.token.regex {
  color: #e90;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.deleted {
  color: red;
}
